.forum-poster{
    font-size: 12px;
    margin-bottom: 0px;
    margin-left: 15px;
}
.post-title-size{
    font-size: 30px;
}
.post-desc-size{
    font-weight: 350;
    margin-left: 10px;
}